In [1]:
#imput & output :

In [3]:
# CSV FILES :

In [4]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\lenovo\\Desktop\\MY_notebooks'

In [7]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 4652-BE78

 Directory of C:\Users\lenovo\Desktop\MY_notebooks

12/14/2024  10:51 AM    <DIR>          .
12/11/2024  01:53 PM    <DIR>          ..
12/14/2024  10:51 AM    <DIR>          .ipynb_checkpoints
12/12/2024  07:44 PM            49,446 Combining_Data_Frame.ipynb
12/13/2024  09:02 PM            11,581 Date_time_methods.ipynb
12/11/2024  01:49 PM           356,306 GroupBy op.ipynb
12/14/2024  10:22 AM             1,569 INPUT_OUPUT.ipynb
12/06/2024  10:53 AM            38,270 Missing_Date.ipynb
12/04/2024  03:37 PM            42,090 Numpy.ipynb
12/05/2024  06:08 PM            43,587 Pandas_Conditional_Filtering.ipynb
12/04/2024  08:41 PM           183,831 pandas_DataFrame.ipynb
12/04/2024  04:24 PM            10,396 Pandas_series.ipynb
12/13/2024  01:32 PM            11,373 Text_method_of_string_Data.ipynb
12/05/2024  11:20 PM           114,850 Useful_Methods.ipynb
              11 File(s)        863,299 bytes
               3 Dir(s)  100,313,919,488 bytes free

In [8]:
#if yoyr not using jupyter you can use the OS module :

In [9]:
import os

In [10]:
os.getcwd()

'C:\\Users\\lenovo\\Desktop\\MY_notebooks'

In [11]:
#to write in a csv file :

In [12]:
#df = pd.to_csv('file_name',index = False)

In [13]:
#EXCEL:

In [17]:
df = pd.read_excel(r'C:\Users\lenovo\Desktop\Notebooks\03-Pandas\my_excel_file.xlsx',sheet_name='First_Sheet')

In [18]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
#if you don't know all the sheet names you can do that :

In [20]:
wb = pd.ExcelFile(r'C:\Users\lenovo\Desktop\Notebooks\03-Pandas\my_excel_file.xlsx')

In [26]:
wb.sheet_names

['First_Sheet']

In [22]:
excel_dict = df = pd.read_excel(r'C:\Users\lenovo\Desktop\Notebooks\03-Pandas\my_excel_file.xlsx',sheet_name=None)

In [23]:
type(excel_dict)

dict

In [29]:
excel_dict.keys()

dict_keys(['First_Sheet'])

In [28]:
excel_dict.values()

dict_values([    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15])

In [30]:
#to write in an excel file you can do  :

In [31]:
#df.to_excel('filel_name',sheet_names = 'your sheet name',index = False)

In [32]:
#SQL :

In [33]:
#to read from an sql engine you should first :
#1/know wich sql engine y'r working on
#2/install the appropriate python driver library
#3/use the SQLQLCHEMY librzry to connect to your sql database with the driver

In [34]:
#now w'r gonna create a sql database in the RAM :

In [35]:
from sqlalchemy import create_engine

In [36]:
tem_db = create_engine('sqlite:///:memory')

In [41]:
import numpy as np
df = pd.DataFrame(data = np.random.randint(0,25,(5,5)))

In [42]:
df

    0   1   2   3   4
0   3  11  12  21   0
1   1  19  23   4  18
2   3  22  13   6  15
3  13  11   6  20   9
4  16  15   6  22   5