In [1]:
import numpy as np
import pandas as pd

In [2]:
name = 'ali@gmail.com'

In [3]:
name.split('@')

['ali', 'gmail.com']

In [4]:
names = pd.Series(['othman','mohamed','ali','5'])

In [6]:
names

0     othman
1    mohamed
2        ali
3          5
dtype: object

In [7]:
names.str.upper()

0     OTHMAN
1    MOHAMED
2        ALI
3          5
dtype: object

In [8]:
names

0     othman
1    mohamed
2        ali
3          5
dtype: object

In [9]:
name.isdigit()

False

In [10]:
'1215'.isdigit()

True

In [11]:
names.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [12]:
tech_finance = ['GOOG,APPL,AMZN','BAN,GS,JPM']

In [13]:
len(tech_finance)

2

In [14]:
tickers = pd.Series(tech_finance)

In [15]:
tickers

0    GOOG,APPL,AMZN
1        BAN,GS,JPM
dtype: object

In [24]:
test = tickers.str.split(',')

In [25]:
test[0][0]

'GOOG'

In [26]:
test[1][0]

'BAN'

In [27]:
#now we wanna expande the values into columns so :

In [28]:
test = tickers.str.split(',',expand=True)

In [29]:
test

      0     1     2
0  GOOG  APPL  AMZN
1   BAN    GS   JPM

In [32]:
messy_names = pd.Series(['andrew   ','bo;bo','   claire   '])

In [33]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [34]:
messy_names[0]

'andrew  '

In [41]:
#remove the ';' :
messy_names.str.replace(';','')

0        andrew
1            bobo
2       claire
dtype: object

In [42]:
#to remove white spaces :

In [44]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [47]:
messy_names.str.strip()

0    andrew
1     bo;bo
2    claire
dtype: object

In [50]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object